@import "../variables-mixins.scss";
@import "../fonts.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;

  font-family: "Opensans", "Opensans-Old", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $body-color;

  background-color: #c7c7c7;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.body-wrapper {
  background-color: #ffffff;
}
