@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/opensans.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/opensansbold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Opensans-Old";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/opensans.woff");
  font-display: swap;
}

@font-face {
  font-family: "Opensans-Old";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/opensansbold.woff");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Opensans", "Opensans-Old", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
