@import "../variables-mixins.scss";
@import "../fonts.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: "Opensans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $body-color;

  background-color: $main-bg;
}
