.button {
  width: 100%;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  padding-top: 16px;
  padding-bottom: 16px;

  border: 2px solid #444444;

  &:visited {
    color: inherit;
  }
}
