@import "../variables-mixins.scss";

.contacts {
  padding-top: 38px;

  &__wrapper {
    @media (max-width: ($desktop-width - 1)) {
      @include general-padding;
    }
  }

  &__list {
    @include list-reset;
    margin-top: 28px;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 30px;
  }

  &__property {
    min-width: 76px;
  }

  &__value {
    flex-basis: 183px;
    margin: 0;
  }

  &__email {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::after {
      position: absolute;
      bottom: -3px;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #62d1ba;
    }

    &:hover {
      color: #46c1ae;
    }

    &:active::after {
      opacity: 0.1;
    }
  }

  &__map-link {
    display: block;
    height: 454px;
    margin-top: 62px;
    background-image: url("../img/index-page/maps/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-page/maps/map-tablet@2x.jpg");
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__button {
    @media (max-width: ($tablet-width - 1)) {
      @include general-padding;
      margin-top: 42px;
      margin-bottom: 39px;
    }
  }

  ////////////////////////////////////            TABLET
  @media (min-width: $tablet-width) {
    padding-top: 64px;
    position: relative;

    &__list {
      @media (max-width: ($desktop-width - 1)) {
        margin-top: 49px;
        display: flex;
      }
    }

    &__item {
      margin-bottom: 0;
      font-size: 17px;

      &:not(:nth-child(2n)) {
        margin-right: 50px;
      }
    }

    &__button {
      width: 230px;
      margin: 56px auto;
    }

    &__value {
      flex-grow: 1;
      margin-left: 3px;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/index-page/contacts-flag.svg") no-repeat;
      width: 47px;
      height: 81px;
      right: $tablet-body-padding;
      top: 46px;
    }

    &__map-link {
      margin-top: 50px;
      height: 457px;
    }
  }

  ////////////////////////////////////           DESKTOP
  @media (min-width: $desktop-width) {
    @include general-padding;
    padding-top: 71px;
    padding-bottom: 105px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    &__wrapper {
      grid-column: 2 / 4;
      margin-top: 79px;
    }

    &__map-link {
      grid-column: 4 / 7;
      margin: 0;
    }

    &__button {
      grid-column: 2 / 4;
      position: absolute;
      bottom: 105px;
      left: 0;
      margin-bottom: 0;
    }

    &__list {
      margin-top: 35px;
    }

    &__item:not(:first-child) {
      margin-top: 30px;
    }

    &::before {
      left: 113px;
      top: 133px;
    }

    &__email::after {
      bottom: -11px;
    }
  }
}
