@import "../variables-mixins.scss";

.form-section {
  @media (max-width: ($tablet-width - 1)) {
    @include general-padding;
  }
  padding-top: 17px;
  padding-bottom: 55px;

  &__order-preview-text {
    margin: 0;
  }

  &__fieldset {
    padding: 0;
    margin-top: 30px;
    border: none;
  }

  &__legend {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: $legend-color;
  }

  &__legend-tel-and-mail {
    margin-bottom: 4px;
  }

  &__legend-additional {
    margin-bottom: 22px;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__radio:nth-child(1n + 2) {
    margin-top: 11px;
  }

  @media (max-width: ($tablet-width - 1)) {
    &__checkbox-input:nth-child(1n + 2) {
      margin-top: 23px;
    }
  }

  &__text-input,
  &__phone,
  &__email {
    height: 52px;
    margin-bottom: 23px;

    font-size: 17px;
    line-height: 18px;
    color: $second-color;

    border: none;
    border-bottom: #000000 solid 2px;
  }

  &__phone,
  &__email {
    margin-bottom: 34px;
    width: 100%;
    background-color: inherit;
  }

  &__input-description {
    margin-left: 23px;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: $second-color;
  }

  &__additional-text {
    width: 100%;
    min-height: 142px;
    padding: 17px;

    font-size: 17px;
    line-height: 18px;
    color: $second-color;

    border: #000000 2px solid;

    resize: none;
  }

  ///////////////////////////////////            TABLET
  @media (min-width: $tablet-width) {
    &__form {
      margin-top: 13px;
    }

    &__fieldset-wrapper {
      @include general-padding;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__fieldset-wrapper:nth-child(2n) {
      background-color: $main-title-bg;
    }

    &__fieldset {
      position: relative;
      padding-left: calc(100% / 4);
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__order-preview-text {
      @include general-padding;
      font-size: 17px;
      line-height: 30px;
    }

    &__legend {
      position: absolute;
      left: 0;
      top: 18px;
    }

    &__phone,
    &__email {
      margin: 0;
      padding-left: 17px;
    }

    &__email {
      margin-top: 24px;
    }

    &__input-description {
      font-size: 19px;
    }

    &__color-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__user-label {
      flex-direction: row;
      align-items: center;
    }

    &__text-input {
      margin: 0;
      width: 100%;
      padding-left: 18px;
    }

    &__user-label > &__input-description {
      margin: 0;
      margin-right: 22px;
    }

    &__flex-wrapper {
      @include general-padding;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__submit {
      order: -1;
      width: auto;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  ////////////////////////////////////         DESKTOP
  @media (min-width: $desktop-width) {
    &__order-preview-text {
      margin-top: 80px;
      padding-left: calc(100% / 6);
      padding-right: calc(100% / 6);
    }

    &__text-pc-wrapper {
      @include general-padding;
    }

    &__color-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }

    &__fieldset {
      padding-left: calc(100% / 6);
    }

    &__submit {
      margin-left: calc(100% / 6);
    }
  }
}
