@import "../variables-mixins.scss";

.form-section {
  @media (max-width: ($tablet-width - 1)) {
    @include general-padding;
  }
  padding-top: 17px;
  padding-bottom: 55px;

  &__order-preview-text {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
  }

  &__fieldset {
    padding: 0;
    margin-top: 30px;
    border: none;
  }

  &__fieldset-phone {
    margin-top: 10px;
  }

  &__fieldset-email {
    margin-top: 10px;
  }

  &__fieldset-additional {
    margin-top: 10px;
  }

  &__legend {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: $legend-color;

    flex-shrink: 0;
  }

  &__required-description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }

  &__text-input,
  &__phone,
  &__email,
  &__additional-text {
    font-family: inherit;

    &::placeholder {
      color: #000000;
      opacity: 0.3;
    }
  }

  &__phone,
  &__email {
    padding-right: 38px;
    margin-bottom: 24px;
    width: 100%;
    background-color: inherit;

    &:focus {
      outline: none;
    }
  }

  &__input-label {
    position: relative;
    padding: 0;
  }

  &__input-icon {
    position: absolute;
    top: 26px;
    right: 18px;
    transform: translate(50%, -50%);

    cursor: pointer;
  }

  &__phone:hover + &__input-icon,
  &__email:hover + &__input-icon {
    opacity: 1;
    fill: $radio-dot;
  }

  &__phone:focus + &__input-icon,
  &__email:focus + &__input-icon {
    opacity: 1;
    fill: $radio-dot;
  }

  @media (max-width: ($tablet-width - 1)) {
    &__legend-decor {
      display: flex;

      &::after {
        content: "";
        margin-top: 8px;
        margin-left: 22px;
        width: 100%;
        height: 1px;
        background-color: $radio-dot;
      }
    }

    &__legend::after {
      content: "";
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #62d1ba;
    }
  }

  &__legend-tel-and-mail {
    margin-bottom: 4px;
  }

  &__legend-additional {
    margin-bottom: 22px;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__radio:nth-child(1n + 2) {
    margin-top: 11px;
  }

  @media (max-width: ($tablet-width - 1)) {
    &__checkbox-input:nth-child(1n + 2) {
      margin-top: 23px;
    }
  }

  &__text-input,
  &__phone,
  &__email {
    height: 52px;
    margin-bottom: 23px;

    font-size: 17px;
    line-height: 18px;
    color: $second-color;

    border: none;
    border-bottom: #000000 solid 2px;

    &:hover {
      border-bottom: $radio-dot solid 2px;
    }

    &:focus {
      outline: none;
      border-bottom: $radio-dot solid 2px;
    }
  }

  &__input-description {
    margin-left: 23px;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: $second-color;
  }

  &__input-description-user {
    margin-left: 0;
  }

  &__additional-text {
    width: 100%;
    min-height: 142px;
    padding: 17px;
    padding-bottom: 13px;

    font-size: 17px;
    line-height: 18px;
    color: $second-color;

    border: #000000 2px solid;

    resize: none;

    &:hover {
      border: $radio-dot 2px solid;
    }

    &:focus {
      outline: none;
      border: $radio-dot 2px solid;
    }
  }

  &__submit {
    margin-top: 30px;
  }

  ///////////////////////////////////            TABLET
  @media (min-width: $tablet-width) {
    padding-bottom: 45px;

    &__form {
      margin-top: 13px;
    }

    &__fieldset-wrapper {
      @include general-padding;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__fieldset-wrapper:nth-child(2n) {
      background-color: $main-title-bg;
    }

    &__fieldset {
      position: relative;
      padding-left: calc(100% / 4);
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__order-preview-text {
      @include general-padding;
      padding-top: 37px;

      font-size: 17px;
      line-height: 30px;
    }

    &__legend {
      position: absolute;
      left: 0;
      top: 18px;
    }

    &__phone,
    &__email {
      margin: 0;
      padding-left: 17px;
    }

    &__input-description {
      font-size: 19px;
    }

    &__color-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__user-label {
      flex-direction: row;
      align-items: center;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    &__text-input {
      margin: 0;
      width: 100%;
      padding-left: 18px;
    }

    &__user-label > &__input-description {
      margin: 0;
      margin-right: 22px;
    }

    &__flex-wrapper {
      @include general-padding;

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -10px;
    }

    &__submit {
      order: -1;
      width: auto;
      min-width: 230px;
      margin-top: 0;
    }

    &__radio:nth-child(1n + 2) {
      margin-top: 24px;
    }

    &__fieldset-email {
      margin-top: 24px;
    }

    &__text-input,
    &__phone,
    &__email,
    &__additional-text {
      &::placeholder {
        font-size: 19px;
      }
    }

    &__required-description {
      font-size: 17px;
      line-height: 30px;
    }

    @media (max-width: ($desktop-width - 1)) {
      &__input-icon {
        right: 8%;
      }
    }
  }

  ////////////////////////////////////         DESKTOP
  @media (min-width: $desktop-width) {
    &__order-preview-text {
      padding-top: 0;
      margin-top: 80px;
      padding-left: calc(100% / 6);
      padding-right: calc(100% / 6);
    }

    &__text-pc-wrapper {
      @include general-padding;
    }

    &__color-wrapper {
      grid-template-columns: repeat(3, auto);
      padding-right: 70px;
    }

    &__fieldset {
      padding-left: calc(100% / 6);
    }

    &__fieldset-central {
      padding-right: calc(100% / 6);
    }

    &__submit {
      margin-left: calc(100% / 6);
    }

    &__legend {
      left: 60px;
    }

    &__required-description {
      margin-right: calc(100% / 6);
    }
  }
}
