@import "../variables-mixins.scss";

.index-catalog-links {
  &__list {
    @include list-reset;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    padding: 24px 0 31px;

    @include general-padding;
    background: $legend-color;

    &:nth-child(2n) {
      background-color: #56c3b2;
    }
  }

  &__link {
    display: flex;

    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    right: 30px;
  }
}
