@import "../variables-mixins.scss";

.index-catalog-links {
  &__list {
    @include list-reset;
  }

  &__item {
    position: relative;

    display: flex;
    min-height: 103px;

    @include general-padding;
    background: $index-mini-catalog-bg;

    &:nth-child(2n) {
      background-color: $index-mini-catalog-bg2;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // min-height: 50px;
    width: 100%;

    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $index-mini-catalog-color;
    text-decoration: none;
  }

  &__link-lamp::after {
    content: "";
    width: 62px;
    height: 62px;
    background: url("../img/index-page/mini-menu/lamp.svg") no-repeat center;
    opacity: 0.5;
  }

  &__link-lego::after {
    content: "";
    width: 62px;
    height: 62px;
    background: url("../img/index-page/mini-menu/lego.svg") no-repeat center;
    opacity: 0.5;
  }


  /////////////////////////////////////////                                  TABLET
  @media (min-width: $tablet-width) {
    &__list {
      display: flex;

      @include general-padding;
    }

    &__item {
      min-height: 119px;
      flex-basis: fill;
      flex-grow: 1;
      padding-left: 0;
      padding-right: 0;
    }

    &__link {
      font-size: 20px;
      line-height: 30px;

      padding: 25px 130px 34px 36px;
    }
  }
}
