@import "../variables-mixins.scss";

.index-title-wrapper {
  @media (min-width: $tablet-width) {
    @include general-padding;
  }

  &__background {
    min-height: 283px;
    padding: 73px 0 120px;

    background-image: url("../img/index-page/hero-mobile@2x1.jpg");

    @media (min-width: $tablet-width) {
      min-height: 626px;
      padding: 154px 0 372px;
    }
  }
}
