@import "../variables-mixins.scss";

.main-title-wrapper {
  @include general-padding;

  min-height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $main-title-bg;

  @media (min-width: $tablet-width) {
    min-height: 266px;
  }
}
