.main-nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    min-height: 79px;
    display: flex;
    align-items: center;

    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;

    position: relative;

    padding-left: 46px;
  }

  &__icon {
    position: absolute;
    left: 0;
  }
}
