@import "../variables-mixins.scss";

.modal-window {

  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;

    br {
      display: none;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $second-color;
    margin: 0;
    margin-top: 28px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 57px;
    }
  }

  &__choose-size {
    margin: 0;
    margin-top: 14px;
    line-height: 30px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-top: 10px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__size-button-wrapper {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 350px;
    }
  }

  &__size-button {
    border: $modal-size-button-border;
    background-color: transparent;
    padding: 18px;
    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    cursor: pointer;
  }

  &__size-button:focus {
    border: 2px solid $index-mini-catalog-bg;
    outline: none;
  }

  &__size-button:active {
    border: 2px solid $index-mini-catalog-bg;
  }

  &__button-add {
    width: 100%;
    margin-top: 30px;
    padding: 18px;
    background-color: $index-mini-catalog-bg;
    border: none;
    color: $main-bg;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 350px;
    }
  }

  &__button-add:active {
    opacity: 0.3;
  }
}
