@import "../variables-mixins.scss";

.product-cards {
  @include general-padding;
  padding-top: 30px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;

  &__list {
    @include list-reset;

    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;

    padding-bottom: 26px;
    margin-bottom: 30px;
    margin-top: 30px;

    border: 1px solid #ececec;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__link {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: $second-color;
    text-decoration: none;
  }

  &__figcaption {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;

    margin-top: 6px;
  }

  &__under-pic-text-wrapper {
    padding: 0 28px;
  }

  &__pic-wrapper {
    margin-bottom: 28px;
    background-color: $product-card-bg;
  }

  &__pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }

  &__price {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: $second-color;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 28px;
    margin-right: 28px;
    padding-top: 23px;
    border-top: $tablix-card-border;
  }

  @media (min-width: $tablet-width) {
    &__link {
      font-size: 20px;
    }

    &__figcaption {
      font-size: 15px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    &__item {
      position: relative;
      padding: 0;
    }

    &__pic {
      width: 334px;
      height: 334px;
      margin: 0;
    }

    &__figure {
      flex-direction: row;
    }

    &__under-pic-text-wrapper {
      padding-left: 34px;
      padding-right: 34px;
      padding-top: 27px;
    }

    &__price-wrapper {
      position: absolute;
      bottom: 0;
      right: 34px;
      width: calc(100% - 334px - 68px);
      padding: 24px 0 25px;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &__list {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
      gap: 51px;
      padding-bottom: 57px;
      padding-top: 111px;
    }

    &__pic {
      width: 316px;
      height: 462px;
    }

    &__item {
      padding-bottom: 0;
      margin: 0;
    }

    &__link {
      font-size: 20px;
    }

    &__figcaption {
      font-size: 15px;
    }
  }
}
