@import "../variables-mixins.scss";

.product-of-week {
  @include general-padding;

  padding-top: 31px;
  padding-bottom: 36px;

  &__title {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 17px;

    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $legend-color;
  }

  &__list {
    margin-top: 28px;
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    border-bottom: $tablix-card-border;
  }

  &__property {
    width: 97px;
  }

  &__value {
    margin: 0;
  }

  &__pic {
    display: block;
    margin: 0;
    object-fit: contain;
  }

  &__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;

    margin-top: 26px;
  }

  &__button {
    margin-top: 24px;
  }

  ////////////////////////////////////                                                           TABLET
  @media (min-width: $tablet-width) {
    padding-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "he3 he3 he3 he2"
      "par par pic pic"
      "dl dl pic pic"
      "pr pr pic pic"
      "btn btn pic pic";
    column-gap: 42px;

    .section-title {
      grid-area: he3;
      align-self: center;
    }

    &__title {
      grid-area: he2;
      justify-self: self-end;
      align-self: center;
      text-align: center;
      line-height: 17px;
      width: 67px;
      margin-right: 27px;
      margin-bottom: 0;
      margin-top: 0;
    }

    &__description {
      grid-area: par;
      margin-top: 38px;
    }

    &__list {
      grid-area: dl;
    }

    &__price {
      grid-area: pr;
      justify-self: center;
    }

    &__pic {
      grid-area: pic;
      justify-self: end;
      width: 334px;
      height: 404px;
      margin-top: 38px;
    }

    &__button {
      grid-area: btn;
      align-self: end;
    }
  }
}
