@import "../variables-mixins.scss";

.video-section {
  @include general-padding;
  padding-bottom: 58px;

  &__for-border-wrapper {
    display: flex;
    flex-direction: column;
    border: $tablix-card-border;
  }

  &__around-title-wrapper {
    padding-left: 34px;
    padding-top: 20px;
    padding-bottom: 26px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 32px;
      height: 22px;
      background: url("../img/video/camera-icon.svg") no-repeat;
      margin-right: 25px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: $second-color;
  }

  &__video-wrapper {
    position: relative;
  }

  &__video {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 150px;
    background-image: url("../img/video/posters/video-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video/posters/video-mobile@2x.jpg");
    }
  }

  &__play-button {
    position: absolute;
    width: 102px;
    height: 78px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: url("../img/video/play-button.svg") no-repeat center;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      width: calc(102px / 100 * 120);
      height: calc(102px / 100 * 120);
      background-size: calc(102px / 100 * 120);
    }

    &:active {
      width: calc(102px / 100 * 80);
      height: calc(102px / 100 * 80);
      background-size: calc(102px / 100 * 80);
    }

    &:active::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 76px;
      height: 58px;
      background-color: #ffffff;
      opacity: 0.3;
      border-radius: 20px;
    }
  }

  &__description-text {
    margin: 35px 20px 0 34px;
    font-size: 13px;
  }

  &__button {
    margin: 41px 33px 34px;
    width: auto;
  }

  ///////////////////////////////////             TABLET
  @media (min-width: $tablet-width) {
    padding-bottom: 64px;

    &__video-wrapper {
      order: -1;
    }

    &__video {
      min-height: 455px;
      background-image: url("../img/video/posters/video-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/video/posters/video-tablet@2x.jpg");
      }
    }

    &__around-title-wrapper {
      padding-left: 42px;
      padding-top: 39px;
      padding-bottom: 0;
    }

    &__title {
      font-size: 20px;
    }

    &__description-text {
      font-size: 15px;
      line-height: 30px;
      margin: 25px 40px 40px;
    }

    &__button {
      margin: 0 42px 46px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 105px;

    &__video-wrapper {
      position: absolute;
      top: 0;
      left: $tablet-body-padding;
    }

    &__video {
      width: 683px;
      background-image: url("../img/video/posters/video-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/video/posters/video-desktop@2x.jpg");
      }
    }

    &__for-border-wrapper {
      margin-left: 683px;
      min-height: 455px;
      padding: 47px 57px 60px 79px;
    }

    &__around-title-wrapper {
      flex-direction: column;
      align-items: start;
      padding: 0;
    }

    &__title {
      margin-top: 27px;
    }

    &__description-text {
      margin: 27px 0 0;
    }

    &__button {
      margin: auto 0 0;
    }
  }
}
