.index-page-main-title {
  min-height: 283px;
  padding: 73px 0 120px;
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;

  background-image: url("../../img/index-page/hero-mobile@2x1.jpg");
}
