@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
  font-display: swap;
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/opensansbold.woff2"),
    url("../fonts/opensansbold.woff");
  font-display: swap;
}
