@use "blocks/body.scss";
@use "blocks/main-header.scss";
@use "blocks/main-nav.scss";
@use "blocks/index-title-wrapper.scss";
@use "blocks/main-title-text.scss";
// @use "blocks/button.scss";
// @use "blocks/main-header__menu-toggle.scss";
// @use "blocks/main-header__logo.scss";
// @use "blocks/main-nav__item.scss";
// @use "blocks/main-nav__link.scss";
// @use "blocks/main-nav__icon.scss";
// @use "blocks/catalog-links__list.scss";
// @use "blocks/catalog-links__item.scss";
// @use "blocks/catalog-links__link.scss";
// @use "blocks/catalog-links__icon.scss";
// @use "blocks/product-of-week.scss";
// @use "blocks/section-title.scss";
// @use "blocks/product-of-week__title.scss";
// @use "blocks/product-of-week__list.scss";
// @use "blocks/product-of-week__item.scss";
// @use "blocks/product-of-week__property.scss";
// @use "blocks/product-of-week__value.scss";
// @use "blocks/product-of-week__cart.scss";
// @use "blocks/product-of-week__price.scss";
