@import "blocks/body.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/main-header.scss";
@import "blocks/main-title-wrapper.scss";
@import "blocks/index-title-wrapper.scss";
@import "blocks/main-title-text.scss";
@import "blocks/index-catalog-links.scss";
@import "blocks/product-of-week.scss";
@import "blocks/section-title.scss";
@import "blocks/short-about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/main-footer.scss";
@import "blocks/form-section.scss";
@import "blocks/product-cards.scss";
@import "blocks/video-section.scss";
@import "blocks/curve-line.scss";
@import "blocks/link.scss";
//
@import "forms/checkbox.scss";
@import "forms/radio.scss";
//
@import "with-js.scss";
//
@import "blocks/modal-window.scss";
@import "blocks/modal-window-wrapper.scss";
