$body-color: #444444; //основной цвет шрифта, также бордер у кнопки.
$second-color: #000000; //применяется только как цвет шрифта, как цвет бордеров или фона не используется
$legend-color: #15ac8e; //применяется и к фонам и бордерам отдельных элементов. равен или идентичен цвету многих декоратывных и интерактивных элементов.

$header-border: rgba(0, 0, 0, 0.1) 1px solid;

$tablet-width: 772px;
$desktop-width: 1150px;

@mixin general-padding {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin visually-hidden-mixin {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
