$body-color: #444444; //основной цвет шрифта, также бордер у кнопки.
$second-color: #000000; //применяется только как цвет шрифта, как цвет бордеров или фона не используется
$legend-color: #15ac8e; //применяется и к фонам и бордерам отдельных элементов. равен или идентичен цвету многих декоратывных и интерактивных элементов.

@mixin general-padding {
  padding-left: 30px;
  padding-right: 30px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
