$body-color: #444444; //основной цвет шрифта, также бордер у кнопки.
$second-color: #000000; //применяется только как цвет шрифта, как цвет бордеров или фона не используется
$legend-color: #15ac8e; //применяется и к фонам и бордерам отдельных элементов. равен или идентичен цвету многих декоратывных и интерактивных элементов.

$main-bg: #ffffff;
$main-title-bg: #f1f1f1;//и подвал
$main-title-bg-mod: #f9f9f9;//цвет в тон фона заголовка на главной
$product-card-bg: #ededef;

$header-border:  1px solid #e6e6e6; // сконвертировано из => rgba(0, 0, 0, 0.1)
$header-mobile-border: 1px solid #ededed;
$tablix-card-border: 1px solid #ececec;
$footer-border:  1px solid #e5e5e5; // сконвертировано из => rgba(0, 0, 0, 0.1)

$index-mini-catalog-color: $main-bg;
$index-mini-catalog-bg: #63d1bb;
$index-mini-catalog-bg2: #56c3b2;//а также "ТОВАР НЕДЕЛИ"

$radio-dot: #62d1ba;

//                                    БОКОВЫЕ ОТСТУПЫ
$tablet-width: 772px;//                                      TABLET
$desktop-width: 1150px;//                                                DESKTOP

$body-max-width: 1400px;//            DESKTOP MAX-WIDTH

$mobile-body-padding: 30px;
$tablet-body-padding: 50px;

@mixin general-padding {
  padding-left: $mobile-body-padding;
  padding-right: $mobile-body-padding;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-body-padding;
    padding-right: $tablet-body-padding;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin visually-hidden-mixin {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
