@import "../variables-mixins.scss";

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    position: absolute;
    appearance: none;
  }

  &__box {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 2px solid $body-color;
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }

  &__input:checked ~ &__box {
    background: url("../img/checkbox.svg") no-repeat center;
    background-size: 23px 16px;
  }

  &__input:hover ~ &__box {
    border: 2px solid $radio-dot;
  }

  &__input:active ~ &__box {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  &__input:focus ~ &__box {
    outline: 2px solid $legend-color;
  }
}
