@import "../variables-mixins.scss";

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    position: absolute;
    appearance: none;
  }

  &__box {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 2px solid $body-color;
  }

  &__input:checked ~ &__box {
    background: url("../img/checkbox.svg") no-repeat center;
    background-size: 23px 16px;
  }
}
